<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>編集 - <%= data.name %>
    </title>
</head>

<body>
    <h2>
        <%= data.name %> を編集
    </h2>
    <form method="post" action="/kimatu_saki_list/update/<%= data.id %>">
        <table>
            <tr>
                <td>名前</td>
                <td><input type="text" name="name" value="<%= data.name %>"></td>
            </tr>
            <tr>
                <td>タイプ</td>
                <td><input type="text" name="type" value="<%= data.type %>"></td>
            </tr>
            <tr>
                <td>レアリティ</td>
                <td><input type="number" name="rarity" value="<%= data.rarity %>"></td>
            </tr>
            <tr>
                <td>スキル名</td>
                <td><input type="text" name="skill_name" value="<%= data.skill_name %>"></td>
            </tr>
            <tr>
                <td>スキルレベル</td>
                <td><input type="number" name="skill_level" value="<%= data.skill_level %>"></td>
            </tr>
            <tr>
                <td>マスターランク</td>
                <td><input type="number" name="rank" value="<%= data.rank %>"></td>
            </tr>
            <tr>
                <td>初期総合力</td>
                <td><input type="number" name="total_status" value="<%= data.total_status %>"></td>
            </tr>
        </table>
        <button type="submit">保存</button>
        <a href="/kimatu_saki_detail/<%= data.id %>">キャンセル</a>
    </form>
</body>

</html>