<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>編集 - <%= data.name %>
    </title>
    <link rel="stylesheet" href="/kimatu_saki.css">
</head>

<body class="blue-theme">
    <div class="container">
        <header class="page-header">
            <h2>
                <%= data.name %> を編集
            </h2>
        </header>
        <form method="post" action="/kimatu_saki_list/update/<%= data.id %>">
            <table>
                <tr>
                    <td>名前</td>
                    <td><input type="text" name="name" value="<%= data.name %>"></td>
                </tr>
                <tr>
                    <td>タイプ</td>
                    <td>
                        <select name="type">
                            <option value="ミステリアス" <%=data.type==='ミステリアス' ? 'selected' : '' %>>ミステリアス</option>
                            <option value="ピュア" <%=data.type==='ピュア' ? 'selected' : '' %>>ピュア</option>
                            <option value="クール" <%=data.type==='クール' ? 'selected' : '' %>>クール</option>
                            <option value="ハッピー" <%=data.type==='ハッピー' ? 'selected' : '' %>>ハッピー</option>
                            <option value="キュート" <%=data.type==='キュート' ? 'selected' : '' %>>キュート</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>レアリティ</td>
                    <td><input type="number" name="rarity" value="<%= data.rarity %>"></td>
                </tr>
                <tr>
                    <td>スキル名</td>
                    <td>
                        <select name="skill_name">
                            <option value="純スコ" <%=data.skill_name==='純スコ' ? 'selected' : '' %>>純スコ</option>
                            <option value="回復" <%=data.skill_name==='回復' ? 'selected' : '' %>>回復</option>
                            <option value="判定スコ" <%=data.skill_name==='判定スコ' ? 'selected' : '' %>>判定スコ</option>
                            <option value="判定強化" <%=data.skill_name==='判定強化' ? 'selected' : '' %>>判定強化</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>スキルレベル</td>
                    <td><input type="number" name="skill_level" value="<%= data.skill_level %>"></td>
                </tr>
                <tr>
                    <td>マスターランク</td>
                    <td><input type="number" name="rank" value="<%= data.rank %>"></td>
                </tr>
                <tr>
                    <td>初期総合力</td>
                    <td><input type="number" name="total_status" value="<%= data.total_status %>"></td>
                </tr>
            </table>
            <button type="submit">保存</button>
            <a class="btn" href="/kimatu_saki_detail/<%= data.id %>">キャンセル</a>
        </form>
    </div>
</body>

</html>