<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>コンパスカード一覧</title>
</head>

<body>
    <h2>コンパスカード一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>属性</th>
            <th>攻撃</th>
            <th>防御</th>
            <th>HP</th>
            <th>CT</th>
            <th>ダメージ種別</th>
            <th>攻撃回数</th>
            <th>操作</th>
        </tr>
        <% for( let row of data ) { %>
            <tr>
                <td>
                    <%= row.id %>
                </td>
                <td><a href="/kimatu_compass_detail/<%= row.id %>">
                        <%= row.name %>
                    </a></td>
                <td>
                    <%= row.type %>
                </td>
                <td>
                    <%= row.attack %>
                </td>
                <td>
                    <%= row.defence %>
                </td>
                <td>
                    <%= row.hp %>
                </td>
                <td>
                    <%= row.cool_time %>
                </td>
                <td>
                    <%= row.damage_type %>
                </td>
                <td>
                    <%= row.damage_count %>
                </td>
                <td>
                    <a href="/kimatu_compass_list/edit/<%= row.id %>">編集</a>
                    <a href="/kimatu_compass_list/delete/<%= row.id %>" onclick="return confirm('削除しますか？');">削除</a>
                </td>
            </tr>
            <% } %>
    </table>
    <a href="/kimatu_compass_add.html">カードを追加する</a><br>
    <a href="/kimatu_home">期末課題のホームに戻る</a>
</body>

</html>